<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Zola CI/CD Component</title>
</head>

<body>
  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>
</body>

</html>
